.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dashboard-container {
  display: flex;
  flex-direction: row; /* Already the default */
  justify-content: flex-start;
  align-items: stretch;
}

.dashboard-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom-right-absolute {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.top-right-absolute {
  position: absolute;
  top: 10px;
  right: 10px;
}

.dashboard-form {
  padding: 5%;
  width: 300px;
}

.submit-delete-row {
  display: flex;
  justify-content: space-between;
}

input[type=text], input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 0;
  cursor: pointer;
}

// Supposed to 
// put the google places autocomplete dropdown results above the bootstrap modal 1050 zindex.
div.pac-container {
    z-index: 99999999999 !important;
}

.modal {
  z-index: 600;
}

.modal-backdrop {
  z-index: 500;
}







